# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project related folders
build/
dist/
.env
pkgs
# Config file
config.json